DISCORD_CLIENT_ID=1488431740803485756
DISCORD_CLIENT_SECRET=3hUHOqDno_OPK2yZu8wz98IKmnGKTcdQ
DISCORD_REDIRECT_URI=https://crimsonhub-f52q.onrender.com/callback
DISCORD_BOT_TOKEN=MTQ4ODQzMTc0MDgwMzQ4NTc1Ng.GiBYKE.2VXhEIaBj1HR58vQVZFS9AX6pKUuOj6xVsV0cY
REQUIRED_GUILD_ID=1480445848000397412
PORT=3000